html {
    background-color: rgb(11, 12, 46);
    color: rgb(255, 255, 255);
}

body {
    margin: 0;
}

main {
    width: 75%;
    justify-self: center;
    display: flex;
    background-color: black;
    padding: 5rem;
    margin-top: 5rem;
    border: white solid 15px;
}

nav {
    background-color: black;
    padding: 1rem;
    width: 100%;
    font-size: x-large;
    font-weight: bolder;
}

nav li {
    display: inline;
}

nav ol {
    justify-self: center;
    padding-left: 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding-left: 5rem;
    padding-right: 5rem
}

#linkatual {
    font-style: italic;
    text-decoration: underline solid white;
}

.teaser {
    width: 50%;
    padding: 1.5rem;
    text-align: center;
    border: rgba(255, 255, 255, 0.082) dashed 3px;
}

section {
    display: flex;
}

iframe {
    border: solid white 2px;
}